# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
venv/

# Environment
.env

# IDE
.vscode/
.idea/

# Logs
*.log

# Data
storage/raw/
storage/extracted/
storage/enriched/

# OS
.DS_Store
Thumbs.db