crawl4ai
playwright

requests
beautifulsoup4

lxml

pandas

python-dotenv

tqdm

trafilatura

validators

tldextract

pdfplumber

PyMuPDF

phonenumbers

google-generativeai

jiter

langchain-text-splitters

sentence-transformers

faiss-cpu

scipy

numpy

scikit-learn

openai