crawl4ai
playwright

requests
beautifulsoup4

lxml

pandas

python-dotenv

tqdm

trafilatura

validators

tldextract
pdfplumber
config
fitz

phonenumbers
requests
trafilatura
tqdm
google-generativeai
lxml
python-dotenv
Playwright
jiter
tqdm
langchain-text-splitters
sentence-transformers
faiss-cpu
scipy
numpy scikit-learn
openai numpy